* {
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.p-toast-content {
    padding-left: 20px;
}

.p-toast-message-content svg {

    margin-right: 10px;
}

.p-toast-message-icon{
    padding: 3px;
    margin-top: 5px;
}

.p-toast-icon-close-icon{
    margin: 10px;
}


/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1320px;
    }
} */